body {
    background-color: #FEBBBB;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: #1F4172;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #FDF0F0;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #FDF0F0;
    color: #1F4172;
    font-size: 16px;
}

button {
    background-color: #FDF0F0;
    color: #1F4172;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e6e6e6;
}

#resultado, #mapa-karnaugh {
    background-color: #FDF0F0;
    color: #1F4172;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}